﻿@page
@model Otus.Teaching.Pcf.GivingToCustomer.WebHost.Pages.PromoCodes.CardModel

@{
    ViewData["Title"] = "Card";
}

<h1>PromoCode: @Html.DisplayFor(model => model.Item.Code)</h1>
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-page-handler="Save">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Item.Code" class="control-label"></label>
                <input asp-for="Item.Code" class="form-control" />
                <span asp-validation-for="Item.Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.ServiceInfo" class="control-label"></label>
                <input asp-for="Item.ServiceInfo" class="form-control" />
                <span asp-validation-for="Item.ServiceInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.BeginDate" class="control-label"></label>
                <input asp-for="Item.BeginDate" class="form-control" />
                <span asp-validation-for="Item.BeginDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.EndDate" class="control-label"></label>
                <input asp-for="Item.EndDate" class="form-control" />
                <span asp-validation-for="Item.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.PartnerId" class="control-label"></label>
                <input asp-for="Item.PartnerId" class="form-control" />
                <span asp-validation-for="Item.PartnerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.PreferenceId" class="control-label"></label>
                <select asp-for="Item.PreferenceId" class="form-control" asp-items="ViewBag.Preferences"></select>
                <span asp-validation-for="Item.PreferenceId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Item.Id" />
            <div class="mt-2 col-md-12">
                <input type="submit" value=" Save  " class="btn btn-info" />
                <input asp-page-handler="Delete" type="submit" value="Delete " class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>
<div>
    <hr />
    <a asp-page="Catalog">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}