﻿@page
@model Otus.Teaching.Pcf.GivingToCustomer.WebHost.Pages.Customers.CardModel

@{
    ViewData["Title"] = "Card";
}

<h1>Customer: @Html.DisplayFor(model => model.Item.FullName)</h1>
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-page-handler="Save">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Item.FirstName" class="control-label"></label>
                <input asp-for="Item.FirstName" class="form-control" />
                <span asp-validation-for="Item.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.LastName" class="control-label"></label>
                <input asp-for="Item.LastName" class="form-control" />
                <span asp-validation-for="Item.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.Email" class="control-label"></label>
                <input asp-for="Item.Email" class="form-control" />
                <span asp-validation-for="Item.Email" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Item.Id" />
            <div class="mt-2 col-md-12">
                <input type="submit" value=" Save  " class="btn btn-info" />
                <input asp-page-handler="Delete" type="submit" value="Delete " class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>
<div>
    <hr />
    <a asp-page="Catalog">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}