﻿@page
@model Otus.Teaching.Pcf.GivingToCustomer.WebHost.Pages.Customers.CatalogModel
@{
    ViewData["Title"] = "Customers";
}

<h1>Customers</h1>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Items.First().FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Items.First().LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Items.First().Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Items.First().Preferences)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Items.First().PromoCodes)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Items)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @item.Preferences?.Count.ToString()
            </td>
            <td>
                @item.PromoCodes?.Count.ToString()
            </td>
            <td>
                <a asp-page="./Card" asp-route-id="@item.Id">Card</a>
            </td>
        </tr>
    }
    </tbody>
</table>
<a asp-page="./Card" asp-route-id="@Guid.Empty" class="btn btn-primary">Create</a>


