﻿@page
@model Otus.Teaching.Pcf.GivingToCustomer.WebHost.Pages.Preferences.CatalogModel
@{
    ViewData["Title"] = "Preferences";
}

<h1>Customers</h1>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Items.First().Name)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Items)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-page="./Card" asp-route-id="@item.Id">Card</a>
            </td>
        </tr>
    }
    </tbody>
</table>
<a asp-page="./Card" asp-route-id="@Guid.Empty" class="btn btn-primary">Create</a>


